<div className="product-block">
  <a className="image-wrapper" href="/product-page">
    <div className="floating top-left">
      <span className="badge new">New</span>
      <span className="badge sale">-50%</span>
      <span className="badge sold-out">Sold Out</span>
    </div>

    <img alt="Product A1" src="https://images.unsplash.com/photo-1495121605193-b116b5b9c5fe" />
  </a>

  <div className="caption group">
    <section>
      <div className="caption-headline">
        <span className="brand">Brand</span>
        <arrowUpRightIcon />
      </div>

      <a className="name" href="/product-page">Product A</a>
      <p className="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
      <div className="price-and-ratings">
        <div className="prices">
          <span className="price old">10.00</span>
          <span className="price sale">5.00</span>
        </div>

        <div className="ratings">
          <div className="rating">
            <starIcon />
            <span className="rating-float">4.95</span>
            <span className="rating-count">(73)</span>
          </div>
        </div>
      </div>
    </section>

    <div class="product-footer">
      <div className="colors">
        <button onclick="setColor('Gray')" class="color"></button>
        <button onclick="setColor('Brown')" class="color"></button>
        <button onclick="setColor('Blue')" class="color"></button>
        <button onclick="setColor('Black')" class="color active"></button>
      </div>

      <div className="buttons">
        <button className="add-to-cart" disabled="{status.soldOut}">
          <shoppingCartIcon />
          <span>Add to cart</span>
        </button>

        <button className="details">
          <horizontalEllipsisIcon />
          <span>Details</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden bg-gray-50 py-6 text-gray-700 dark:bg-slate-800 dark:text-white">
  <div>
    <div class="flex w-auto max-w-xl flex-col self-stretch overflow-hidden rounded border-0 border-gray-300 bg-white shadow-xl transition-all hover:shadow-lg md:w-72 dark:border-gray-700 dark:bg-black/30">
      <a class="relative overflow-hidden" href="#link-from-image-wrapper">
        <div class="absolute left-0 top-0 m-2 flex flex-col gap-y-1.5">
          <span class="z-10 h-full w-full rounded border-2 border-emerald-600 bg-emerald-600/80 px-1 py-1 text-center text-xs font-medium tracking-tighter text-white"> New </span>
          <span class="z-10 h-full w-full rounded border-2 border-red-600 bg-red-600/80 px-1 py-1 text-center text-xs font-medium tracking-tighter text-white"> -20% </span>
          <span class="z-10 h-full w-full rounded border-2 border-slate-600 bg-slate-600/80 px-1 py-1 text-center text-xs font-medium tracking-tighter text-white"> Sold Out </span>
        </div>

        <img alt="Product A1" class="block w-full transition-all hover:scale-110" src="https://images.unsplash.com/photo-1604467794349-0b74285de7e7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2xvdGhlcy84MDB4ODAwfHx8fHx8MTcwNjI4Mzc4OQ&ixlib=rb-4.0.3&q=80&w=1080" />
      </a>

      <div class="group relative flex flex-1 flex-col justify-between">
        <section class="px-3 pt-3">
          <div class="flex items-center justify-start gap-x-1.5">
            <span class="inline-flex text-base font-medium uppercase tracking-tighter text-gray-500 group-hover:opacity-100 dark:text-gray-400"> Brand </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5 -rotate-45 stroke-gray-500 opacity-0 transition-opacity duration-200 ease-in-out dark:stroke-gray-400" stroke-width="1.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
          </div>

          <a href="#link-from-title" class="w-min whitespace-nowrap text-xl font-bold hover:underline"> Product Title </a>
          <p class="line-clamp-3 text-sm tracking-tight">Description description description description description description description description description description description description description description</p>
          <div class="mb-5 mt-2 flex w-full flex-col justify-start gap-2">
            <div class="flex flex-col items-start text-xs">
              <div class="flex items-center gap-x-1 tracking-tight hover:underline">
                <svg class="mr-[1px] h-3 w-3 fill-amber-300 stroke-amber-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <span class="font-semibold text-gray-900 dark:text-white">4.78</span>
                <span class="font-semibold text-gray-900 dark:text-white">(84)</span>
              </div>
            </div>

            <div class="flex flex-col gap-y-1.5 text-base">
              <span class="w-min font-medium leading-none tracking-tight line-through"> 10.00$ </span>
              <span class="w-min text-lg font-semibold tracking-tight text-rose-500 hover:underline"> 8.00$ </span>
            </div>
          </div>
        </section>

        <div class="px-3 pb-4">
          <div class="mt-3 flex w-min items-center justify-between gap-x-2">
            <button class="h-6 w-6 rounded-md border-2 border-pink-600 bg-pink-600/70 ring-2 ring-gray-400 ring-offset-2 ring-offset-white transition-all duration-200 ease-in-out hover:opacity-80 dark:ring-white dark:ring-offset-gray-800"></button>
            <button class="h-6 w-6 rounded-md border-2 border-emerald-600 bg-emerald-600/70 transition-all duration-200 ease-in-out hover:opacity-80"></button>
            <button class="h-6 w-6 rounded-md border-2 border-blue-600 bg-blue-600/70 transition-all duration-200 ease-in-out hover:opacity-80"></button>
            <button class="h-6 w-6 rounded-md border-2 border-amber-600 bg-amber-600/70 transition-all duration-200 ease-in-out hover:opacity-80"></button>
          </div>

          <div class="mt-3 flex items-center justify-between gap-x-2">
            <button class="flex flex-1 items-center justify-center gap-x-1 rounded bg-emerald-600 px-3 py-2 text-sm font-medium tracking-tighter text-white transition-all duration-200 ease-in-out enabled:hover:bg-emerald-700 disabled:cursor-not-allowed disabled:opacity-40">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
              </svg>
              <span>Add to cart</span>
            </button>

            <button class="flex items-center justify-center gap-x-1 rounded bg-gray-500 px-3 py-2 text-sm font-medium tracking-tighter text-white transition-all duration-200 ease-in-out disabled:cursor-not-allowed disabled:opacity-40">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
              </svg>
              <span class="hidden">Details</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
