<div className="product-block">
  <a className="image-wrapper" href="/product-page">
    <div className="floating top-left">
      <span className="badge new">New</span>
      <span className="badge sale">-50%</span>
      <span className="badge sold-out">Sold Out</span>
    </div>

    <img alt="Product A1" src="https://images.unsplash.com/photo-1495121605193-b116b5b9c5fe" />
  </a>

  <div className="caption group">
    <section>
      <div className="caption-headline">
        <span className="brand">Brand</span>
        <arrowUpRightIcon />
      </div>

      <a className="name" href="/product-page">Product A</a>
      <p className="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
      <div className="price-and-ratings">
        <div className="prices">
          <span className="price old">10.00</span>
          <span className="price sale">5.00</span>
        </div>

        <div className="ratings">
          <div className="rating">
            <starIcon />
            <span className="rating-float">4.95</span>
            <span className="rating-count">(73)</span>
          </div>
        </div>
      </div>
    </section>

    <div class="product-footer">
      <div className="colors">
        <button onclick="setColor('Gray')" class="color"></button>
        <button onclick="setColor('Brown')" class="color"></button>
        <button onclick="setColor('Blue')" class="color"></button>
        <button onclick="setColor('Black')" class="color active"></button>
      </div>

      <div className="buttons">
        <button className="add-to-cart" disabled="{status.soldOut}">
          <shoppingCartIcon />
          <span>Add to cart</span>
        </button>

        <button className="details">
          <horizontalEllipsisIcon />
          <span>Details</span>
        </button>
      </div>
    </div>
  </div>
</div>
